#StrictHostKeyChecking no
ForwardAgent              yes
AddKeysToAgent            yes
GSSAPIDelegateCredentials	yes
GSSAPIAuthentication		yes
Host				home
HostName			jbygden.publicvm.com
User				jonasb
Host        janeway
HostName			janeway
User				jonasb
Host				cujo-temp
HostName			bygden.nu
User				jonas
Port				1022
Host				cujo
HostName			bygden.nu
User				jonas
Port				8601
Host				bygden.nu
User				jonas
Port				8601
Host				cujo-con
HostName			lish-newark.linode.com
User				jonas
Host				skog22
HostName			skog22.ath.cx
User				jonas
Port				8601
Host				tc34
HostName			tc34-dmz
Port				2222
Host				tc35
HostName			tc35-dmz
Port				2222
Host				kvmlinux24
HostName			kvmlinux24-dmz
Port				2222
#Host				pe-iscsi-01
#HostName			pe-iscsi-01.trioptima.net
#User				grpadmin
#Host				tc-iscsi-01
#HostName			tc-iscsi-01.trioptima.net
#User				grpadmin
Host                triad
HostName            triad.trioptima.com
user                jonasb
Host                fotobank
HostName            fotobank.se
User                jonas
Host                berthling.com
HostName            berthling.com
User                jonas
Host                learn
HostName            localhost
User                root
Port                2222
Host                isotest
HostName            isotest
User                root
Host                jbyserver
HostName            jbyserver
User                root
Host                jbytest1
HostName            jbytest1
User                root
Host                gerrit
HostName            git.trioptima.net
Port                29418
Host                slrk
HostName            ssh.lagottoklubben.se
User                lagottoklubben.se
